service cloud.firestore {
  match /databases/{database}/documents {
    match /presenter/{documents=**} {
      allow read;
    }

    match /rockets/{rocketId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == rocketId;
    }

    match /launchCodes/{rocketId} {
      allow read: if request.auth.uid != null;
      allow write: if request.auth.uid == rocketId;
    }

    match /launchChecks/{rocketId=**} {
      allow read: if request.auth.uid != null;
    }
  }
}
